body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック", Verdana, sans-serif;
}

/*---------------- リンク設定 ----------------*/
A:link {
	color:#FFCC00;
	text-decoration:none;
	}
A:visited {
	color:#FFCC00;
	text-decoration:none;
	}
A:hover {
	color:#FFFFFF;
	text-decoration:underline;
	}
A:active {
	text-decoration:none;
	}

A.kanren:link {
	color:#FF6600;
	text-decoration:none;
	}
A.kanren:visited {
	color:#FF6600;
	text-decoration:none;
	}
A.kanren:hover {
	color:#FF6600;
	text-decoration:underline;
	}
A.kanren:active {
	text-decoration:none;
	}
/*---------------- フォーム設定 ----------------*/

form {
	margin: 0px;
}

/*---------------- テキスト基本設定 ----------------*/

.normaltext{
	font-size: 12px;
	}
	
.sText {
	font-size: 10px;
	line-height: 120%;
	}
	
.mText {
	font-size: 12px;
	line-height: 130%;
	}
	
.lText {
	font-size: 14px;
	line-height: 140%;
	}
	
.llText {
	font-size: 17px;
	line-height: 140%;
	}
.infoText {
	font-size: 11px;
	line-height: 130%;
	}
/*---------------- リンクサイズ設定 ----------------*/
.t-s-high {
	font-size: 10px;
	line-height: 160%;
	}
	
.t-s-middle {
	font-size: 10px;
	line-height: 140%;
	}
	
.t-s-low {
	font-size: 10px;
	line-height: 120%;
	}
	
.t-m-high {
	font-size: 12px;
	line-height: 160%;
	}
	
.t-m-middle {
	font-size: 12px;
	line-height: 140%;
	}
	
.t-m-low {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	}
/*---------------- 色付きテキスト設定 ----------------*/

/*--- 白テキスト ---*/

.t-white-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #FFFFFF;
	}
	
.t-white-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #FFFFFF;
	}

.t-white-s-low {
	font-size: 10px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FFFFFF;
	}

.t-white-m-high {
	font-size: 12px;
	line-height: 160%;
	color: #FFFFFF;
	}
	
.t-white-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #FFFFFF;
	}
	
.t-white-m-low {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FFFFFF;
	}

.t-white-l-high {
	font-size: 14px;
	line-height: 160%;
	color: #FFFFFF;
	}
	
.t-white-l-middle {
	font-size: 14px;
	line-height: 140%;
	color: #FFFFFF;
	}
	
.t-white-l-low {
	font-size: 14px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FFFFFF;
	}

/*--- 赤黒テキスト ---*/

.t-kuroaka-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #660000;
	}

.t-kuroaka-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #660000;
	}
	
/*--- グレーテキスト ---*/

.t-gray-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #999999;
	}
	
.t-gray-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #999999;
	}
	
.t-gray-s-low {
	font-size: 10px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #999999;
	}

/*--- グレーテキスト2 ---*/
	
.t-gray-m-high {
	font-size: 12px;
	line-height: 160%;
	color: #999999;
	}
	
.t-gray-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #999999;
	}
	
.t-gray-m-low {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #999999;
	}
	
/*--- 黄色、小、行送り違い ---*/

.t-yellow-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #FFCC00;
	}

.t-yellow-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #FFCC00;
	}

.t-yellow-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #FFFF00;
	}
	
/*--- 赤テキスト ---*/

.t-red-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #FF0000;
	}
	
.t-red-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #FF0000;
	}

.t-red-m-high {
	font-size: 12px;
	line-height: 160%;
	color: #FF0000;
	}
	
.t-red-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #FF0000;
	}

/*--- オレンジテキスト ---*/

.t-orange-m-low {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FF3300;
	}

/*--- パープルテキスト ---*/

.t-purple-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #CC66FF;
	}

/*------ 青テキスト -------*/

.t-blue-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #0066CC;
	}
	
.t-blue-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #0066CC;
	}

.t-blue-l-middle {
	font-size: 18px;
	line-height: 160%;
	color: #0066CC;
	}

/*------ 水色テキスト -------*/

.t-water-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #00CCFF;
	}
	
.t-water-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #00CCFF;
	}

.t-water-l-middle {
	font-size: 18px;
	line-height: 160%;
	color: #00CCFF;
	}


/*------ 黄緑テキスト -------*/

.t-green-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #99FF00;
	}
	
.t-green-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #99FF00;
	}

.t-green-l-middle {
	font-size: 14px;
	line-height: 140%;
	color: #99FF00;
	}
.t-green2-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #CCFF00;
	}
	
.t-green2-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #CCFF00;
	}

.t-green2-l-middle {
	font-size: 14px;
	line-height: 140%;
	color: #CCFF00;
	}

/*------ ピンクテキスト -------*/

.t-pink-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #FF3366;
	}
	
.t-pink-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #FF3366;
	}

.t-pink-l-middle {
	font-size: 14px;
	line-height: 140%;
	color: #FF3366;
	}

/*------- 濃い赤テキスト ----------*/

.t-dred-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #CC0000;
	}
	
.t-dred-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #CC0000;
	}

.t-dred-l-middle {
	font-size: 14px;
	line-height: 140%;
	color: #CC0000;
	}

/* 柴舟＆真吾のワシらに任せろ！！専用 */

.saishu {
	font-size: 12px;
	line-height: 140%;
	color: #000000;
	font-weight: bold;
	}
.saishu2 {
	font-size: 18px;
	line-height: 140%;
	color: #000000;
	font-weight: bold;
	}

.kyo {
	font-size: 12px;
	line-height: 140%;
	color: #CC0000;
	font-weight: bold;
	}
.kyo2 {
	font-size: 18px;
	line-height: 140%;
	color: #CC0000;
	font-weight: bold;
	}
	
.shizuka {
	font-size: 18px;
	line-height: 140%;
	color: #CC0000;
	font-weight: bold;
	}

.shizuka2 {
	font-size: 12px;
	line-height: 140%;
	color: #CC0000;
	font-weight: bold;
	}
	
.shingo {
	font-size: 12px;
	line-height: 140%;
	color: #003399;
	font-weight: bold;
	}

.shingo2 {
	font-size: 18px;
	line-height: 140%;
	color: #003399;
	font-weight: bold;
	}

.iori {
	font-size: 12px;
	line-height: 140%;
	color: #9900CC;
	font-weight: bold;
	}

.iori2 {
	font-size: 18px;
	line-height: 140%;
	color: #9900CC;
	font-weight: bold;
	}
	
.caption {
	font-size: 12px;
	line-height: 160%;
	color: #663300;
	}

.caption2 {
	font-size: 18px;
	line-height: 140%;
	color: #663300;
	font-weight: bold;
	}

.sonota {
	font-size: 12px;
	line-height: 140%;
	color: #CC3333;
	font-weight: bold;
	}

.sonota2 {
	font-size: 18px;
	line-height: 140%;
	color: #CC3333;
	font-weight: bold;
	}

/* 開発者コメントページ専用 */

.t-comment-s-high {
	font-size: 10px;
	line-height: 160%;
	color: #FF9900;
	}
	
.t-comment-s-middle {
	font-size: 10px;
	line-height: 140%;
	color: #FF9900;
	}

.t-comment-s-low {
	font-size: 10px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FF9900;
	}

.t-comment-m-high {
	font-size: 12px;
	line-height: 160%;
	color: #FF9900;
	}
	
.t-comment-m-middle {
	font-size: 12px;
	line-height: 140%;
	color: #FF9900;
	}
	
.t-comment-m-low {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FF9900;
	}

.eiji {
	font-size: 12px;
	line-height: 140%;
	color: #CCCCCC;
	}

.eiji2 {
	font-size: 10px;
	line-height: 140%;
	color: #CCCCCC;
	}

.guest {
	font-size: 14px;
	line-height: 140%;
	color: #CC6666;
	}

.guest2 {
	font-size: 14px;
	line-height: 140%;
	color: #CC0000;
	}
	
.name {
	font-size: 14px;
	line-height: 160%;
	color: #000000;
	font-weight: bold;
	}

.question {
	font-size: 12px;
	line-height: 140%;
	color: #000000;
	}

/* キャラクター超必殺技 */
.ssWeapon {
	font-size: 12px;
	/*line-height: 110%;*/
	line-height: 120%;
	color: #FFFF00;
}