BODY {
    background:white;
	background-image: url('saisyu-kusanagi-kof98-ultimate-match.jpg'), url('saisyu-kusanagi-kof98-ultimate-match.jpg');
	background-repeat: no-repeat;
	background-position: -15% 0%, 135% 0%;
    width: 750px;
    padding: 10px;
    margin: auto;
	color: black;
	font-family: verdana; 
}

H1 {
    font-family: verdana; 
    color: white;   
}

H2 {
    font-family: verdana; 
    color: white;   
}

P {
    font-family: verdana;
    color: white;
	text-align: center;
}

div.tudo{
	background: black;
	outline-style:solid;
	outline-width:10px;
	outline-color:#330000;
	margin:auto;
}

div.imagem{
	background-image:url('spacer.png');
	background-repeat: repeat-x;
	text-align: center;
	height: 56px;
}

div.info{
	height: 1000px;
}

div.movlist{
	height: 3500px;
}

img.resize{
	width: 35%;
	border-width:1px;
	border-style: solid;
	border-color: grey;
}

table.classe1 {
	padding: 0px;
    background-color: black;
	border-collapse: collapse;
	font-size: 12px;
	width: 50%;
	color: white;
	float:right;
}

table.comm {
	padding: 0px;
	margin-left:auto; 
    margin-right:auto;
    background-color: white;
	border-collapse: collapse;
	text-align: justify; 
	font-size: 12px;
	width: 42%;
	color: black;
}

table.mov {
	padding: 0px;
	margin-left:auto; 
    margin-right:auto;
    background-color: white;
	border-collapse: collapse;
	font-size: 12px;
	width: 53%;
	color: black;
}

table.sys {
	padding: 0px;
	margin-left:auto; 
    margin-right:auto;
    background-color: white;
	border-collapse: collapse;
	text-align: justify; 
	font-size: 12px;
	width: 40%;
	color: black;
}

th.formatcomm{
	color: white;
	text-align: center; 
	background-color: #330000;
}

th.format{
	color: white;
	text-align: center; 
	background-color: #330000;
}

td.char01 {
	border-width:1px;
	border-style: solid;
	border-color: grey;
	text-align: center; 
	width: 150px;
	height: 30px;
    background-color: #330000;
}

td.char02 {
	border-width:1px;
	border-style: solid;
	border-color: grey;
	text-align: center; 
	width: 150px;
	height: 30px;
}

tr.red{
	background-color: #FFB1A1;
}

td.tdred{
	background-color: #FFB1A1;
}

td.size{
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	-ms-column-width: 200px;
	-o-column-width: 200px;
}

P.classe3 {
    color: #0080C0;
    font-size: 10px;
}

UL LI:before{ 
	content:"-"; position:relative; left:-5px;
}

UL LI{
	color: white; 
    font-family: verdana;
    text-align: justify;
	text-indent:-5px;
}